<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/offcanvas.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <title>rs</title>
</head>

<body onload="load();">
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SNPMap</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Tutorials <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/report">Report a bug</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/rs" method="post">
          <div class="form-group">
            <input id="SNPNo" type="text" class="form-control" placeholder="e.g.: rs2234693, 2234693" name="name"
              value="">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"
              aria-hidden="true"></span></button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/zh">中文</a></li>
          <li class="active"><a href="/">English <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

      <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Contents</button>
        </p>
        <div class="jumbotron">
          <h1 id="rstitle">Rs</h1>
          <hr />
          <p id="Summary"></p>

        </div>
        <div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" role="tab"
                data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#population" role="tab"
                data-toggle="tab">Population map</a></li>
            <li role="presentation"><a href="#articles" role="tab" data-toggle="tab">Related
                articles</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
              <p>&nbsp</p>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="panel panel-primary" id="basicinformation">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp&nbspBasic
                      Information&nbsp&nbsp&nbsp&nbsp
                      <a href="/help">
                        <font color="white"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </font>
                      </a>
                    </div>
                    <div class="panel-body">
                      <p>The basic information about this SNP.</p>
                    </div>

                    <!-- Table -->
                    <table class="table">
                      <tr>
                        <td><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>&nbsp&nbsp<font
                            class="amend">
                            rsid</font>
                        </td>
                        <td id="rsid">-</td>
                      </tr>
                      <tr>
                        <td><span class="glyphicon glyphicon-object-align-horizontal"
                            aria-hidden="true"></span>&nbsp&nbsp
                          <font class="amend">Gene</font>
                        </td>
                        <td id="Gene">-</td>
                      </tr>
                      <tr>
                        <td><span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span>&nbsp&nbsp<font
                            class="amend">Chromosome</font>
                        </td>
                        <td id="Chromosome">-</td>
                      </tr>
                      <tr>
                        <td><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span>&nbsp&nbsp<font
                            class="amend">Position</font>
                        </td>
                        <td id="position">-</td>
                      </tr>
                      <tr>
                        <td><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>&nbsp&nbsp<font
                            class="amend">
                            Orientation</font>
                        </td>
                        <td id="Orientation">-</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-12 col-md-6">
                  <div class="panel panel-primary" id="genotypes">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <span class="glyphicon glyphicon-list-alt"
                        aria-hidden="true"></span>&nbsp&nbspGenotypes&nbsp&nbsp&nbsp&nbsp
                      <a href="/help">
                        <font color="white"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </font>
                      </a>
                    </div>
                    <div class="panel-body">
                      <p>Genotypes and their magnitudes.</p>
                    </div>

                    <!-- Table -->
                    <table class="table">
                      <tr>
                        <th>Geno</th>
                        <th>Mag</th>
                        <th>Summary</th>
                      </tr>
                      <tr class="geno1" id="geno1id">
                        <td id="geno1">-</td>
                        <td id="geno1Mag">-</td>
                        <td id="geno1Sum">-</td>
                      </tr>
                      <tr class="geno2" id="geno2id">
                        <td id="geno2">-</td>
                        <td id="geno2Mag">-</td>
                        <td id="geno2Sum">-</td>
                      </tr>
                      <tr class="geno3" id="geno3id">
                        <td id="geno3">-</td>
                        <td id="geno3Mag">-</td>
                        <td id="geno3Sum">-</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!--/.col-xs-6.col-lg-4-->
              </div>
              <!--/row-->
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <div class="panel panel-primary" id="keywordmap">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp&nbspKeyword
                      Map&nbsp&nbsp&nbsp&nbsp
                      <a href="/help">
                        <font color="white"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </font>
                      </a>
                    </div>
                    <div class="panel-body">
                      <p id="keywordchart">
                      <div id="main" style="width: 100%;height:400px;">

                      </div>
                      </p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="population"></div>
            <div role="tabpanel" class="tab-pane fade" id="articles">
              <p>&nbsp</p>
              <div class="row">
                <div class="col-md-12">
                  <ul class="pagination pagination-lg" role="tablist" id="pagespills" hidden="hidden">
                    <!--<li role="presentation" class="active"><a href="#page1" role="tab"
                        data-toggle="tab">1</a></li>-->
                  </ul>
                </div>
                <p>&nbsp&nbsp</p>
                <div class="tab-content" id="formitself">
                  <!--<div role="tabpanel" class="tab-pane active" id="page1">
                    <div class="col-xs-12 col-md-12">
                      <table class="pure-table" id="articleform1">
                        <tr>
                          <th>PMID</th>
                          <th>Title</th>
                          <th>Keywords</th>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="profile">...</div>
                  <div role="tabpanel" class="tab-pane" id="messages">...</div>
                  <div role="tabpanel" class="tab-pane" id="settings">...</div>-->
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
      <!--/.col-xs-12.col-sm-9-->

      <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <a href="#" class="list-group-item active"><span class="glyphicon glyphicon-list-alt"
              aria-hidden="true"></span>&nbsp&nbspContents</a>
          <a href="#basicinformation" class="list-group-item">Basic Information</a>
          <a href="#genotypes" class="list-group-item">Genotypes</a>
          <a href="#keywordmap" class="list-group-item">Keyword Map</a>
          <a href="#" class="list-group-item">Population Diversity</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
        </div>
      </div>
      <!--/.sidebar-offcanvas-->
    </div>
    <!--/row-->

    <footer>
      <p>2020 Zhejiang University</p>
    </footer>

  </div>
  <!--/.container-->

<script src="/javascripts/common/jquery.min.js"></script>
<script src="/javascripts/common/bootstrap.min.js"></script>
  <script src="javascripts/common/offcanvas.js"></script>
  <script src="/javascripts/common/echarts.min.js"></script>
  <script src="/javascripts/scrs.js"></script>

</body>

</html>