@font-face {
  font-family: RobotoCondensedBold;
  src: url('/fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: RobotoBold;
  src: url('/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: RobotoMedium;
  src: url('/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: RobotoRegular;
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: DIN1451;
  src: url('/fonts/DIN1451.ttf');
}

h1 {
  font-family: RobotoCondensedBold;
}

h2 {
  font-family: RobotoMedium;
}

body {
  font-family: RobotoRegular;
}

.amend {
  font-family: RobotoBold;
}

.bad {
  background-color: pink;
}

.good {
  background-color: lightgreen;
}

.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial,sans-serif;
  padding: 1em 0;
  text-align: center;
}

.pure-table td,.pure-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
  border-bottom: 1px solid #cbcbcb;
}

.pure-table thead {
  background-color: darkgrey;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.pure-table th {
  background-color: lightgrey;
}

.pure-table td {
  background-color: transparent;
}

#welcome {
  background-color: purple;
  color: white;
}

#errorPage {
  background-color: red;
  color: white;
}

#basiccard {
  background-color: blue;
  color: white;
  font-size: 3;
}

#geno1, #geno2, #geno3 {
  word-break: break-all;
}
